
.footer {
  background-color: var(--first-color);
  opacity: .7;
}

.footer__container {
  padding: 0 0 6rem;
}

.footer__title,
.footer__link {
  color: var(--body-color)
}

.footer__title {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 1rem;
  font-family: 'poppins_thin';
  font-size: 36px;
}

.footer__link {
  padding: 0.50rem;
  background-color: var(--first-color);
  border-radius: var(--br);
}

.footer__link:hover {
  background-color: var(--container-color);
  color: var(--first-color);
}


.footer__list {
  display: flex;
  justify-content: center;
  column-gap: 0.5rem;
}

.footer__social{
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
}

.footer__social-link {
  border-radius: var(--br);
  height: 2.75rem;
  width: 2.75rem;
  margin: 2rem 0;
}

.footer__social-link:hover {
  background-color: var(--body-color);

}

.footer__social-icon {
  fill: var(--first-color)
}

.footer__copy {
  display: block;
  color: var(--container-color);
  text-align: center;
  font-size: var(--small-font-size);
}

.footer__copy span {
  font-size: var(--normal-font-size);
}
