.home {
	padding-top: 25px;
}

.home__container {
	position: relative;
	gap: 3rem;
}

.home__data {
	margin-top: -10px;
	text-align: center;
}

.home__greeting,
.home__education {
	font-weight: var(--font-medium);
}

.home__greeting {
	font-size: small;
	display: block;
	color: var(--theme-color);
	margin-bottom: .5rem;
}

.home .swiper {
	width: 100%;
	padding-top: var(--mb);
	padding-bottom: 50px;
	margin: 0;
}

.home .swiper-slide {
	width: 70%;
	background-color: var(--first-color);
	height: calc(100vh - 290px);
	overflow: hidden;
	border-radius: var(--br);
	display: flex;
	flex-direction: column;
}

.home .swiper-slide img {
	display: block;
}

.home .swiper-button-prev,
.home .swiper-button-next {
	color: rgba(255, 255, 255, 0.283);
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	bottom: 20px;
	margin-top: -5px;
}

.home__education {
	color: var(--theme-color);
	margin-top: 12px;
	font-size: 1rem;
	/* font-size: var(--normal-font-size); */
}


.home__education-text {
	font-weight: var(--font-medium);
	font-size: var(--small-font-size) !important;
	margin-top: 10px;
	background-color: rgba(0, 0, 0, 0.525);
	padding: 10px;
	color: #fff;
	text-align: justify;
	text-align: center;
}

.home__education-text span:first-child:after{
	content: '... ';
	white-space: nowrap;
	transform: scale(1.7);
	color: #fff
}

.home__name {
	font-size: 25px;
}

.home__handle {
	justify-self: center;
	width: 100%;
	/* height: calc(100% - 142px); */
	height: 100%;
	/* flex: 1; */
	position: relative;
	background-position: top;
	background-size: cover;
}


.home__buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin: 15px;
}

@media only screen and (max-width: 365px) {
	.home__education-text {
		font-size: 12px !important;

	}
}