
.skills__container {
  row-gap: var(--mb);
}

.skills__content {
  background-color: var(--container-color);
  padding: var(--mb) var(--mb) 5px var(--mb);
  border-radius: var(--br);
}

.skills__title {
  font-size: var(--normal-font-size);
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-bottom: 1.5rem;
}

.skills__box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}

.skills__group {
  display: grid;
  align-content: flex-start;
}

.skills__group:last-child {
  margin-left: -20px;
}

.skills__data {
  display: flex;
  column-gap: .5rem;
  margin-bottom: 10px;

}

.skills svg {
  transform: scale(.8) translateY(-5px);

  fill: #fff;
}

.skills__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  line-height: 18px;
}

.skills__level {
  font-size: var(--tiny-font-size);
}

.skills__description {
  padding: 0 2.5rem;
  margin-top: var(--mb);
  text-align: center;
  margin-bottom: 32px;
}
