.work__filters {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .75rem;
  margin-bottom: var(--mb);
}

.work__item {
  cursor: pointer;
  color: var(--title-color);
  padding: .25rem .75rem;
  font-weight: var(--font-medium);
  border-radius: var(--br);
}

.work__item:hover:not(.active-work) {
  color: var(--first-color);
}

.work__card {
  background-color: var(--container-color);
  padding: .8rem;
  border-radius: var(--br);
}

.work__img {
  border-radius: var(--br);
  margin-bottom: .3rem;
  height: 150px;
  width: 100%;
}

.work__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: .25rem;
  float: left;
}

.work__button {
  width: max-content;
  color: var(--first-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  column-gap: .25rem;
  float: right;
}

.work__icon {
  fill: var(--first-color);
  transform: scale(.8);
  /* transition: .4s !important; */
}


/* Active item work*/
.active-work {
  background-color: var(--first-color);
  color: var(--body-color)
}